<nav class="navbar sticky-top navbar-light bg-light ">
  <a class="navbar-brand  ">
    <a routerLink="/logowanie">
      <img class="logo" src="https://preview.ibb.co/m7adxy/PhotoTop.png" alt="PhotoTop" />
    </a>
  </a>
  <div>
    <form class="form-inline">
      <div class="ramka">
        <input class="form-control mr-sm-2 custom" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark szuk" type="submit">
          <i class="fas fa-search " style="color: black; vertical-align: center; vertical-align: horizontal; "> </i>
        </button>
      </div>

    </form>
  </div>
  <button class="btn btn-dark" type="search">
    <a routerLink="/logowanie">zaloguj</a>
  </button>
</nav>