<div class="container">

  <div class="rejestruj">
    <h1> Rejestracja </h1>
  </div>
  <div class="clas">
    <div class="container konten">


      <!--<div id="panel">-->
      <form>

        <div class="form-group">
          <label class="napis" for="username">Twoj pseudonim:</label>
          <input class="pole" type="text" id="username" name="username">
        </div>

        <div class="form-group">
          <label class="napis" for="username">E-mail:</label>
          <input class="pole" type="text" id="username" name="username">
        </div>


        <div class="form-group">
          <label class="napis" for="password">Hasło:</label>
          <input class="pole" type="password" id="password" name="password">
        </div>


        <div class="form-group">
          <label class="napis" for="password"> Powtorz hasło:</label>
          <input class="pole" type="password" id="password" name="password">
        </div>

        <div id="lower">
          <label class="check" for="checkbox">Zapoznalem sie i akceptujeng regulamin serwisu PhoTop </label>
          <input type="checkbox" style="margin-left: 5px">
          <br>
          <input class="btn btn-dark zapisz" type="submit" value="Zaloz konto">
        </div>
      </form>
    </div>
  </div>
</div>